:root {
  --primary: #495E57;
  --yellow: #F4CE14;
  --title: 64px;
  --sub-title: 40px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Markazi Text', serif;
}
p {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
}
h1 {
  font-size: var(--title);
}
h2 {
  font-size: var(--sub-title);
}
.section-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;
}
.card-title {
  font-size: 18px;
  font-weight: 700;
}
.description {
  font-size: 18px;
}
.header {
  background: #ffffff;
  padding: 10px 0;
}
main {
  min-height: 100vh;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
}
.logo {
  width: 230px;
}

.menu-links {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.navigation-bar a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 5px 15px;
  opacity: 0.7;
}

/* Call To Action */
.call-to-action {
  background-color: rgb(111 110 110 / 79%);
  padding: 50px 0;
}
.call-to-action img {
  width: 100%;
  min-height: 330px;
  object-fit: cover;
  object-position: 114% 0px;
}
.reserve-table {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 30px;
}
.reserve-table:hover {
  background-color: #262626;
  color: #ffffff;

}
.call-to-action .col:first-child {
  padding-right: 35px;
}



.call-to-action .col {
  width: 25%;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.image img {
  width: 80%;
  height: 250px;
  object-fit: cover;
  object-position: 77% 0px;
}

/* Special */
.specials {
  margin-bottom: 50px;
}
.inline-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 50px 0;
}
button.spec-btn.btn {
  border-radius: 5px;
  background: #000;
  color: #ffffff;
  width: 200px;
  height: 60px;
  padding: auto;
}
.spec-row {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
}
.spec-row img{
  width: 100%;

}
.spec-row h4 img{
  width: 22px;
  margin-left: 10px;
}
.spec-row .col{
 
}
.box-special {
  background-color: #EDEFEE;
  border-radius: 16px 16px 0 0;
  display: flex;
  flex-direction: column;
}
.box-special img {
  border-radius: 5px 5px 0 0;
}
.spec-content {
  margin: 20px;
}
.spec-content h3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Markazi Text;
  font-size: 24px;

}
.spec-content h3 span{
  font-size: 16px;

  color: #EE9972;
  font-family: Karla;
  font-weight: 700;
}

/* Testimonials  */
.testimonials {
  margin: 50px 0;
  background-color: #D9D9D9;
  padding: 20px 0 50px;
}
.testimonials h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin: 50px auto;
}
.box-testim {
  background-color: #F1F1F1;
  padding: 20px 10px;
}
.testimon-img {
  display: flex;
  align-items: center;
}
.testimon-img img {
  width: 35%;
  margin: 10px 15px 10px 0;
}


.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  margin: 50px auto;
}
.footer ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
}
.footera {
  padding: 0;
}

/* Booking Page */
.hero-booking {
  background-image: url(./assets/images/booking.jpg);
  height: 500px;
  background-size: cover;
  margin-bottom: 50px;
}

.book-form {
  margin-bottom: 50px;
}