
body {
  margin: 0;
  padding: 0;
}
.header {
  background: #ffffff;
  padding: 10px 0;
}
main {
  min-height: 100vh;
}
#navigation-container {
  position: relative;
  background-color: #352d2f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navigation-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
}
.logo {
  width: 230px;
}

.navigation-bar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  align-items: center;
}

.navigation-bar a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 5px 15px;
  opacity: 0.7;
}


.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  margin: 50px auto;
}
.col {
  width: 25%;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.image img {
  width: 80%;
  height: 250px;
  object-fit: cover;
  object-position: 77% 0px;
}
.footer ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
}
.footera {
  padding: 0;
}